if SHIELD_HASHTYL_LEFT

config ZMK_KEYBOARD_NAME
    default "Hashtyl"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if SHIELD_HASHTYL_LEFT || SHIELD_HASHTYL_RIGHT

config ZMK_SPLIT
    default y

endif
